@import url('style.css');

@media print {
    table{
        width: 70%;
    }   
    img{
        width: 70%;
    }
    .topnav, video, footer, #footer{
        display: none;
    }
    textarea{
        height: 175%;
    }
    h2{
        width: 100%;
        font-size: 1.5em;
        height: 2em;
    }
    h1{
        width: 100%;
        font-size: 4em;
        height: 1em;
    }
}